/* Search.css */
.container__link-icon{
  margin-right: 20px;
}
.search-section{
  padding-top: 150px;
}
.search-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.basic-search-option,
.traditional-search-option,
.advanced-search-option {
  background-color: #333;
  padding: 20px;
  width: 450px;
  height: 430px;
  margin-left: 10px;
  border: 2px solid white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */
}

/* Change border color on hover */
.basic-search-option:hover,
.traditional-search-option:hover,
.advanced-search-option:hover {
  border-color: rgb(255, 0, 234); /* Change to desired hover color */
}

.basic-search-option {
  background-image: url("../images/basic.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.traditional-search-option {
  background-image: url("../images/traditional.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.advanced-search-option {
  background-image: url("../images/Advance.png");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.basic-search-option__heading {
  color: white;
  margin-top: 430px;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}
.traditional-search-option__heading {
  color: white;
  margin-top: 430px;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}
.advanced-search-option__heading {
  color: white;
  margin-top: 430px;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}
.container__footer {
  margin-top: 200px;
}

.button-1 {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 800px;
}

.button-1:hover {
  background-color: #0056b3;
}
.basic-search-option:hover .basic-search-option__heading,
.traditional-search-option:hover .traditional-search-option__heading,
.advanced-search-option:hover .advanced-search-option__heading {
  background-color: #555; /* Change background color on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

.search__copyright {
  color: wheat;
  font-size: 20px;
  margin-top: 140px;
  padding: 75px 0 0 20px;

}
